<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create</title>
</head>
<body>
    
    <form action="/add" method="POST">
        <fieldset>
            <legend>Create User</legend>
            key:<br>
            <input type="text" name="key">
            <br>
            nidDetails:<br>
            <input type="text" name="nid">
            <br>
            image:<br>
            <input type="text" name="image">
            
            <br><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
</body>
</html>